<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="/javascripts/authenticationFuncs.js"></script>
    <title>Exercise 3 - Internet Programming Course template</title>

</head>
<body>
<h1>login</h1>
<p>Welcome</p>

<% if (message == "registered") { %>
    <h3>you are registered</h3>
<% } %>


<h2>Login</h2>
<form action="/login" method="POST" id="loginForm">
    <div class="mb-3">
        <label for="emailInput" class="form-label">E-mail address</label>
        <input type="text" class="form-control input" name="email" placeholder="your e-mail" id="emailInput" required>
        <div class="text-danger errormessage"></div>
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Enter password</label>
        <input type="password" class="form-control input" name="password" placeholder="at least 8 characters" id="password1" required>
        <div class="text-danger errormessage"></div>
    </div>
    <% if (message == "errorLoginDetails") { %>
    <div class="text-danger"> <h3> Username and / or password, do not exist or do not match</h3> </div>
    <% } %>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--<h2>Not registered yet? <a href="/register" >site registeration </a></h2>-->
<h3>Not registered yet? <a href="/register" >Registration</a></h3>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
