<!DOCTYPE html>
<html>
<head>
    <title>Mars images browser - registration password (exercise 4)</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="/javascripts/authenticationFuncs.js"></script>
    <script src="/javascripts/generalFuncts.js"></script>
    <title>Exercise 3 - Internet Programming Course template</title>

</head>
<body>
<div class="container px-5">
    <div class="row">
        <div class="col">
            <div class="container px-2 my-5">
                <div class="bg-image p-5 mb-5 mx-3" style="background-image: url('https://static.wixstatic.com/media/9a218f_a1799ca721cb440097f39cba6cb1a8f1~mv2.jpg/v1/fill/w_1000,h_607,al_c,q_90,usm_0.66_1.00_0.01/9a218f_a1799ca721cb440097f39cba6cb1a8f1~mv2.jpg');
                <!--/images/imgMars.jpg');">-->
                    <div class="d-flex justify-content-center text-center">
                        <div class="bg-white p-3">
                            <h2>Mars images browser</h2>
                            <p>Browse NASA Mars images and save your preferred ones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-5 px-1 p-1">

        <h3>Enter password for <%= email %></h3>

        <div class="text-dark bg-opacity-10 bg-secondary p-3 mx-2 mt-3">
            <div class="mb-3"><h2>Setting a password</h2></div>

            <form action="/password" method="POST" id="passwordForm">
                <div class="mb-3">
                    <label for="password1" class="form-label"> password</label>
                    <input type="password" class="form-control input" name="thePassword"
                           placeholder="at least 8 characters" id="password1">
                    <div class="text-danger errormessage"></div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Type the password again</label>
                    <input type="password" class="form-control input" id="password2">
                    <div class="text-danger errormessage"></div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
